.amigadev-port-image {
	max-width: 50%;
    @include media-breakpoint-down(sm) {
		width: 100%;
        max-width: 100%;
    }
}
.container.downloads {
	.row {
		@include media-breakpoint-down(sm) {
			height: auto;
		}

		&.darkbg {
			background-color: rgba(74, 81, 104, 0.21) !important;
		}
	}
}

.amigadev-product-content-container {
    border-left: 5px solid $dark;
}

.amigadev-product-producer-link {
    margin: 2px 0px;
    margin-right: 4px;
    font-size: 16px;
    padding: 3px 14px 2px 14px;
    border-radius: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    @include media-breakpoint-down(sm) {
      font-size: 10px;
    }
}
